*{
    display: border-box;
    margin: 0;
    padding: 0;
}
.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "poppins", sans-serif;
    letter-spacing: 0.1rem;
    gap : 2rem;
}

.input-box{
    position: relative;
    width: 300px;
}
.name-input{
    width: 100%;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 1.8rem;
}
.name-label{
    position: absolute;
    left: 0;
    padding: 10px 5px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    pointer-events: none;
    transition: 0.5s;
}
.name-input:valid ~ label,
.name-input:focus ~ label{
    transform : translateY(-1.5rem);
    color: rgb(162, 162, 198);
    font-size: 0.75em;
}
.id-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "poppins", sans-serif;
    letter-spacing: 0.1rem;
    gap : 2rem;
}