*{
    display: border-box;
    margin: 0;
    padding: 0;
}
.img-face{
    margin-top: 50px;
    margin-left: 290px; 
    height: 200px;
    width: 200px;
    border-radius: 60%;
}
#heading{
    padding-top: 0px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.861);
    text-align:center;
    color:rgb(255, 255, 255);
}
#instagram{
  position: relative;
  color: #fff;
  margin-left: 90%;
}
#close{
    height: 20px;
    width: 80px;
}
#normo{
     background-color: rgba(255, 0, 255, 0.297);
}
#last-note{
    margin-top: 1000px;
    color: aliceblue;
    font-family: cursive;
    background-color: rgba(0, 0, 0, 0.864);
    border-radius: 0px;
    padding-top: 20px;
    padding-bottom: 50px;
}