*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}



/* head bar*/
.heading{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color:#990000 ; 
    position: fixed;
    top: 0;
    width: 100%;
}


.heading a{
    max-width: fit-content;
}

.heading img{
  height: 50px;
  width: 230px;
  padding: 0;
  margin-left: 20px;
}


.nav-item a{
    font-family: "Josefin Sans", sans-serif;
    font-size: small;
}


.nav-item a:link{
    color:#ffffff;
    text-decoration: none;
}

.nav-item a:visited{
    color: #ffffff;
    text-decoration: none;
}

.nav-item a:hover{
    color: rgb(191, 201, 212);
    text-decoration: underline;
}

/*Main page PS: front page*/

.start-page{
    display: flex;
    flex-direction: column;
    background: url();
    background-repeat: no-repeat;
    background-size: contain;
    height: 386px;
    width: 824px;
    margin-top: 100px;
    margin-right: 50px;
    margin-bottom: 50px ;
}

.start-page .page-items{
   
    
}

#instagram{
    width: 20px;
  color: #fff;
}
#linkedin{
    width: 20px;
    color: #fff;
}
#twitter{
    color: #fff;

}
.icon a{
    padding-inline: 5px;
    opacity: 0.5;
}



.work{
    margin-left: 155px;
    width: 920px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px;
    height: 500px, max-content;
}

.work-place img{
    padding: 10px;
    width: 440px;
    height: 250px;
}
.work-place p{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 1000;
    margin-left: 180px;
}


.work-place2 img{
    padding: 5px;
    width: 440px;
    height: 250px;
}
.work-place2 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 1000;
    margin-left: 165px;
}


.card{
   display: flex;
   flex-direction: column;
   position: static;
   margin-top: 200px;
   justify-content: center;
   align-items: center;
   text-align: center;
    margin-bottom: 100px;
    border: none;
    width: 600px;
}


.card img{
    height: 200px;
    width: 200px;
}

.card p{
    opacity: 0.5;
}

.card h5{
    padding-bottom: 5px;
}

/*Footer of the webpage*/
.last-note{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    bottom: 0;
    max-height: fit-content;
    color: aliceblue;
    background-color: #990000;
    padding-top: 10px;
    width: 100%;
}


.last-note p{
    text-align: center;
    opacity: 0.5;
    font-size: small;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 0;
}


.icon{
max-width: fit-content;
display: flex;
justify-self: center;
align-self: center;
}